.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95px;
    /* filter: drop-shadow(2px 2px 0px); */
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.black-tile {
    background-color: rgb(120,156,176);
}

.white-tile {
    background-color: rgb(215,224,230);
}
.black-tile .dark {
    background-color: rgb(2, 29, 44);
}

.white-tile .dark {
    background-color: rgb(41, 109, 154);
}
.tile img {
    width: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
    content: " ";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 60%;
}

.tile-highlight.chess-piece-tile::before {
    position: absolute;
    content: " ";
    width: 90px;
    height: 90px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.holder:focus, .holder:active{
   
    background-color: burlywood;
  }   
  /* .holder:focus, .holder:active{
    cursor: grabbing;
    background-color: burlywood;
  } */
    
  .chess-piece{
    filter: drop-shadow(0.75px 0.75px 0.5px);
  }   
  .chess-piece:focus, .chess-piece:active{
    cursor: grabbing;
   z-index: 400;
   filter: drop-shadow(0px 0px 0px);
  } 